<h1 style="text-align: center">{{ titulo }}</h1>

<form action="">
  <input type="text" name="nombre" id="nombre" [(ngModel)]="nombre" />
  <br />
  <input type="text" name="apellido" id="apellido" [(ngModel)]="apellido" />
  <br />
  <input type="submit" value="Registrate" (click)="registrarUsuario()" />
</form>

<br />

<!-- si registrado es true, muestra el mensaje de usuario registrado
pero sino habilita ng-template -->
<p *ngIf="registrado; else sinRegistrar">
  {{ mensaje }} con el nombre de {{ nombre }} {{ apellido }}
</p>

<!-- No carga por defecto a no ser que no haya nadie registrado-->
<ng-template #sinRegistrar>
  <p>nadie registrado</p>
</ng-template>

<br /><br />

<ul *ngFor="let entrada of entradas; let i=index">
  <li>
    <span style="font-size: larger; font-weight: bold">
      {{ entrada.titulo }}
    </span>
    . entrada {{i+1}}
  </li>

  <!--  Tambien funciona así <li *ngFor="let entrada of entradas">{{ entrada.titulo }}</li> -->
</ul>
